/* **********************form CSS****************** */

:root {
  --primary-color: #0c0c4c;
  --secondary-color: #4242df;
  --border-radius: 4px;
}
#newVendorFormContainer,
#addTransaction {
  margin-top: 1rem;
  display: flex;
  justify-items: center;
  margin: auto;
  padding: 2rem;
  /* visibility: hidden; */
  width: 60%;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
form p {
  background-color: transparent;
}
fieldset {
  padding: 25px;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  margin: auto;
  border: 1px solid var(--primary-color);
}
.panel h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.transactionDetailInputDiv {
  text-align: left;
  background-color: transparent;
}
.clientdeets {
  background-color: transparent;
  font-size: 20px;
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
  margin: auto;
}
#submit {
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  width: 40%;
  margin: auto;
  padding: 10px;
  color: white;
}
.newCollectionDetails {
  padding-top: 15px;
}
h4 {
  font-weight: 300;
  background: transparent;
}
#landingPage {
  width: 100%;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/bgHome.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#landingPage div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.myformControl {
  margin: 0;
  text-align: left;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  display: block;
  width: 90%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--primary-color);
  background-color: transparent;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  padding-left: 10px;
}

.newVendorDiv {
  margin: auto;
  width: 65%;
  padding: 10px;
  background-color: var(--main-color);
}

legend {
  padding: 15px;
  color: var(--main-color);
  font-size: 1.5rem;
}
#formTitle {
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

/* ********************************end of form CSS************** */
